<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style>
    html,
    body,
    #container {
      width: 100%;
      height: 100%;
    }
    </style>
    <title>GeoJSON</title>
   
   
</head>
<body>
<div id="container">
<div style="width: 1230px; height: 1310px; overflow: hidden; margin: 0px; ">
<iframe src="https://111.3.64.34:446/portal/cas/login/loginPage.do?service=https://111.3.64.34:446/portal" style="width: 1230px; height: 1310px;" >
</div>
</div>
<script type="text/javascript">
  
</script>
</body>
</html>