<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<title>上传资料说明</title>
	<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/foreHtml/static/css/style.css">
</head>
<body>
	<div class="body">
		<div class="topTitle">信息采集标准要求说明</div>

		<div class="example">
			<h3 class="title">照片示例</h3>
			<div class="imgboxs">
				<div class="img">
					<img src="__PLUGIN_TMPL__/foreHtml/static/images/img1.jpg">
					<p>王美丽.jpg</p>
				</div>
				<div class="img">
					<img src="__PLUGIN_TMPL__/foreHtml/static/images/img2.jpg">
					<p>李帅.jpg</p>
				</div>
			</div>
		</div>

		<div class="bg-fafafa-h1"></div>

		<div class="tips">
			<h3 class="title">详细说明</h3>
			<p>1.人脸正面免冠照，露出眉毛和眼镜。</p>
			<p>2.照片白底、无逆光</p>
			<p>3.两眼之间像素点>60</p>
		</div>
	</div>
	<div class="void-div"></div>
	<div class="footerButton">
		<a href="from.html">已了解，马上上传</a>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="__PLUGIN_TMPL__/foreHtml/static/js/auto-size.js"></script>
</body>
</html>